/* GOOGLE FONT (POPPINS) API */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ---------ROOT VARIABLES ----------*/
:root{
    --color-primary: #4176d8;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #e0e0e2;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

   /*  DARK THEME VARIABLES */
.dark-theme-variables{
    --color-primary: #f3ba50;
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* CUSTOM SCROLL BAR */
html::-webkit-scrollbar  {
    width: 9%;
}
html::-webkit-scrollbar-track {
 background: transparent;
}
html::-webkit-scrollbar-thumb {
 background: var(--color-primary);
 border-radius: 4rem;
}
html{
    font-size: 14px;
}
body{
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    color: var(--color-dark);
}

a{
    color: var(--color-dark);
    font-size: 20px;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 15px;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}

/* SETTING UP THE GRID LAYOUT FOR ASIDE, MIDDLE AND RIGHT */
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.4rem;
    grid-template-columns: 14rem auto 23rem;
}


/* ASIDE */
aside{
    height: 100vh;
    background: var(--color-background);
}

aside .top {
    background: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
    border-radius: 5%;
}
aside .logo img{
    width: 125px;
    cursor: pointer;
}
aside .close{
    display: none;
}
aside .close .bx{
    font-size: 1.8rem;
}


/* ------------ SIDEBAR -------------*/
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a .bx {
    font-size: 1.0rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: -71rem;
    width: 100%;
}
aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: var(--color-primary);
    margin-left: 1rem;
}

/* ---------------MAIN -----------------*/
main{
    margin-top: 4.4rem;
}

main .cash-flows table input[type="date"],
main .cash-flows table input[type="month"]
 {
    background: transparent;
    color: var(--color-dark);
}

/* ----------CASH FLOW TABLE---------- */
main div > .cash-flows{
    margin-top: 2rem;
}
main div > .cash-flows h2{
    margin-bottom: 0.8rem;
}

/* TABLE*/
main .cash-flows table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .cash-flows table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .cash-flows a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
    font-size: 18px;
}

/*-------END OF MIDDLE-------*/

/* --------RIGHT/ CHARTS----------*/
.right{
    margin-top: -5rem;
}

.right #chart_div{
    margin-top: -7rem;
}

.right #chart_div1{
    margin-top: -9rem;
}

.right #piechart_3d{
    margin-top: -6rem;
}

.right .top{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.right .top button{
    display: none;
}
.right .theme-toggle{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggle .bx{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .theme-toggle .bx.active{
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

/* CHART */
.right .chart{
    margin-top: 60%;
    margin-bottom: 0.8rem;
}
/* END OF CHARTS */




/*  ----------------MEDIA QUERIES ------------*/
@media screen and (max-width: 1200px) {
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 5.6rem;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    /* MAIN SECTION */
  
    /* TABLE */
    main .cash-flows {
        width: 94%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        margin: 15rem 0 0 8.8rem;
    }

    /*  TABLE */
    main .cash-flows table {
        width: 83vw;
    }

    main table thead tr th:last-child, 
    main table thead tr th:first-child{
        display: none;
    }
    
    main table tbody tr th:last-child, 
    main table tbody tr th:first-child{
        display: none;
    }
    .right .top{
        display: flex;
        justify-content: end;
        gap: 1rem;
    }
/* CHART */
.right .chart{
    margin-top: 10%;
    margin-bottom: 0.1rem;
}
/* END OF CHARTS */
}


/* MEDIA QUERIES FOR MOBILE DEVICES */
@media screen and (max-width: 768px) {
   .container{
    width: 100%;
    grid-template-columns: 1fr;
   }
   aside{
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
}

@keyframes showMenu {
    to{
        left: 0;
    }
}
   
   aside .logo{
    margin-left: 1rem;
   }

   aside .sidebar h3{
    display: inline;
   }

   aside .sidebar a{
    width: 100%;
    height: 3.4rem;
   }

   aside .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
   }
   aside .close{
    display: inline-block;
    cursor: pointer;
   }

   main{
    margin-top: 8rem;
    padding: 0 0.5rem;
   }

   main .cash-flows{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
   }

   main .cash-flows table{
    width: auto;
    margin: 0;
   }
   
   .right{
    width: 94%;
    margin: 0 auto 4rem;
   }

   .right .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    justify-content: end;
    box-shadow: 0 1rem 1rem var(--color-light);
   }
   
   .right .top .theme-toggle{
    width: 4.4rem;
    position: absolute;
    left: 66%;
   }

   .right .top button{
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
   }

   .right .top button .bx{
    font-size: 2rem;
   }
}